<form [formGroup]="publicacionForm" class="formulario">
  <mat-form-field class="input">
    <mat-label>Título:</mat-label>
    <input matInput type="text" formControlName="titulo" />
    <mat-error
      *ngIf="
        publicacionForm.get('titulo')?.invalid &&
        publicacionForm.get('titulo')?.touched
      "
    >
      El título es necesario.
    </mat-error>
  </mat-form-field>
  <br />

  <mat-form-field class="input">
    <mat-label>Autor:</mat-label>
    <input matInput type="text" formControlName="autor" />
    <mat-error
      *ngIf="
        publicacionForm.get('autor')?.invalid &&
        publicacionForm.get('autor')?.touched
      "
    >
      El autor es necesario.
    </mat-error>
  </mat-form-field>
  <br />
  <mat-form-field class="input">
    <input
      matInput
      [matDatepicker]="picker"
      formControlName="fechaPublicacion"
    />
    <mat-label>Fecha de publicación:</mat-label>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>

    <mat-error
      *ngIf="
        publicacionForm.get('fechaPublicacion')?.invalid &&
        publicacionForm.get('fechaPublicacion')?.touched
      "
    >
      La fecha de publicación es necesaria.
    </mat-error>
  </mat-form-field>
  <br />
  <mat-form-field class="input">
    <mat-label> Contenido: </mat-label>
    <textarea matInput type="text" formControlName="contenido"> </textarea>

    <mat-error
      *ngIf="
        publicacionForm.get('contenido')?.invalid &&
        publicacionForm.get('contenido')?.touched
      "
    >
      El contenido es necesario.
    </mat-error>
  </mat-form-field>
  <br />

  <div class="botones">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      (click)="onSubmit()"
      [disabled]="publicacionForm.invalid"
      class="titulo"
    >
      Enviar
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="closeDialog()"
      class="cierra"
    >
      Cerrar
    </button>
  </div>
</form>
